<h2 mat-dialog-title>
    <mat-icon>person</mat-icon>Login
</h2>
<mat-divider class="border-2"></mat-divider>
<mat-dialog-content>
<form id="miFormulario" [formGroup]="frmlogin" (ngSubmit)="onLogin();">
    <mat-form-field class="w-full">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="usuario" type="text" required>
    </mat-form-field>
     <mat-form-field class="w-full">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="passw" type="password" required>
    </mat-form-field>
    <input type="hidden" formControlName="id">
</form>

</mat-dialog-content>
<mat-divider class="border-2"></mat-divider>
<mat-dialog-actions>

    <button mat-button  mat-raised-button type="submit" form="miFormulario">Iniciar</button>
    <button mat-button  mat-raised-button [mat-dialog-close]="false">Cancelar</button>
</mat-dialog-actions>
