<mat-card >
    <div class="p-6 bg-white border-gray-200 rounded-lg
    shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <mat-card-header class="bg-gray-200 h-15 flex justify-center">
        <img mat-card-avatar>
        <mat-card-title class="!font-extrabold text-[1.5rem]">
            Catálogo Clientes
        </mat-card-title>
    </mat-card-header>
   
    <mat-card-content class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <mat-expansion-panel (opened) = "panelOpenState.set(true)"
        (closed) = "panelOpenState.set(false); limpiar();">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Filtrar - click  para {{panelOpenState() ? 'Cerrar' : 'Abrir'}}
            </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label> Id Cliente</mat-label>
                <input matInput #fidUsuario id = "fidUsuario"
                (keyup)="onFiltroChange({
                    idUsuario : fidUsuario.value,
                    nombre : fnombre.value,
                    apellido1 : fapellido1.value,
                    apellidos2 : fapellido2.value
                })">
            </mat-form-field>
            <mat-form-field>
                <mat-label> Nombre</mat-label>
                <input matInput #fnombre id = "fnombre"
                (keyup)="onFiltroChange({
                    idUsuario : fidUsuario.value,
                    nombre : fnombre.value,
                    apellido1 : fapellido1.value,
                    apellidos2 : fapellido2.value
                })">
            </mat-form-field>
            <mat-form-field>
                <mat-label> Apellido 1</mat-label>
                <input matInput #fapellido1 id = "fapellido1"
                (keyup)="onFiltroChange({
                    idUsuario : fidUsuario.value,
                    nombre : fnombre.value,
                    apellido1 : fapellido1.value,
                    apellidos2 : fapellido2.value
                })">
            </mat-form-field>
            <mat-form-field>
                <mat-label> Apellido 2</mat-label>
                <input matInput #fapellido2 id = "fapellido2"
                (keyup)="onFiltroChange({
                    idUsuario : fidUsuario.value,
                    nombre : fnombre.value,
                    apellido1 : fapellido1.value,
                    apellidos2 : fapellido2.value
                })">
            </mat-form-field>




        </mat-expansion-panel>
        <!--<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">-->
         <table mat-table [dataSource]="dataSource()">

        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <ng-container matColumnDef="idCliente">
                <th mat-header-cell *matHeaderCellDef>idCliente</th>
                <td mat-cell *matCellDef="let element">{{element.idCliente}}</td>
            </ng-container>
           
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>

            <ng-container matColumnDef="apellido1">
                <th mat-header-cell *matHeaderCellDef>Apellido 1</th>
                <td mat-cell *matCellDef="let element">{{element.apellido1}}</td>
            </ng-container>

            <ng-container matColumnDef="apellido2">
                <th mat-header-cell *matHeaderCellDef>Apellido 2</th>
                <td mat-cell *matCellDef="let element">{{element.apellido2}}</td>
            </ng-container>

            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef>Celular</th>
                <td mat-cell *matCellDef="let element">{{element.celular}}</td>
            </ng-container>

            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef>Correo</th>
                <td mat-cell *matCellDef="let element">{{element.correo}}</td>
            </ng-container>

         
<ng-container matColumnDef="botonera">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                    <button mat-icon-button (click)="onNuevo();" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                        font-medium rounded-lg text-sm px-2 py-0.5
                        dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none
                        dark:focus:ring-blue-800">
                        <mat-icon>
                            add
                        </mat-icon>
                    </button>
                </th>

                <td mat-cell *matCellDef="let element">
                    <div class="flex content-around">
                        <button (click)="onInfo(element.id)"
                        class="flex content-center items-center focus:outline-none text-white bg-blue-400 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 mx-2 dark:focus:ring-blue-900">
                            <mat-icon>info</mat-icon>
                        </button>
           
                         <button mat-icon-button (click)="onEditar(element.id)"
                         class="flex content-center items-center focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-2 py-1 mx-2 dark:focus:ring-yellow-900">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button (click)="onEliminar(element.id)"
                        class="flex content-center items-center focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-1 mx-2 dark:focus:ring-red-900">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button mat-icon-button (click)="onResetearPassw(element.id)"
                        class="flex content-center items-center focus:outline-none text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-2 py-1 mx-2 dark:focus:ring-green-900">
                            <mat-icon>key</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

           
        </thead>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row;columns: columnas"></tr>
       
        </table>
           

           
      
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row;columns: columnas"></tr>
       
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Apple MacBook Pro 17"
                </th>
                <td class="px-6 py-4">
                    Silver
                </td>
                <td class="px-6 py-4">
                    Laptop
                </td>
                <td class="px-6 py-4">
                    $2999
                </td>
                 <td class="px-6 py-4">
                    Silver
                </td>
                <td class="px-6 py-4">
                    Laptop
                </td>
                <td class="px-6 py-4">
                    $2999
                </td>
                <td class="px-6 py-4">
                    $2999
                </td>

                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Info</a>
                </td>

                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>

                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Del</a>
                </td>

                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Reset</a>
                </td>
            </tr>
        </tbody>
       
    </mat-card-content>
   
    <mat-card-footer class="bg-gray-200 h-15 flex items-center justify-center">
        <span class="font-extrabold text-[1.5rem]">
            footer
        </span>
    </mat-card-footer>
    </div>
